[Unit]
Documentation=https://mycroft-ai.gitbook.io/docs/mycroft-technologies/mycroft-core/audio-service
Description=Mycroft AI Voice Assistant - Audio service
After=mycroft-autoupdate.service pulseaudio.service
Requires=pulseaudio.service mycroft-bus.service

[Service]
WorkingDirectory={{ _mycroft_core_directory }}
User={{ mycroft_user }}
Group={{ mycroft_user }}
ExecStart={{ _mycroft_core_directory }}/.venv/bin/python -m mycroft.audio
StandardOutput=append:{{ _mycroft_logs_directory }}/audio.log
StandardError=append:{{ _mycroft_logs_directory }}/audio.log
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID

[Install]
WantedBy=multi-user.target
