[Unit]
Documentation=https://mycroft-ai.gitbook.io/docs/mycroft-technologies/mycroft-core/audio-service
Description=Mycroft AI Voice Assistant - Audio service
After=mycroft-autoupdate.service network.target
Requires=mycroft-bus.service

[Service]
WorkingDirectory={{ _mycroft_core_directory }}
User={{ mycroft_user }}
Group={{ mycroft_user }}
Environment="XDG_RUNTIME_DIR=/run/user/{{ user_info.1 }}"
ExecStart={{ _mycroft_core_directory }}/.venv/bin/python -m mycroft.audio
StandardOutput=append:{{ _mycroft_logs_directory }}/audio.log
StandardError=append:{{ _mycroft_logs_directory }}/audio.log
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s KILL $MAINPID

[Install]
WantedBy=multi-user.target
