[Unit]
Documentation=https://mycroft-ai.gitbook.io/docs/mycroft-technologies/mycroft-core/skills-service
Description=Mycroft AI Voice Assistant - Skills service
After=mycroft-autoupdate.service network.target
Requires=mycroft-bus.service

[Service]
WorkingDirectory={{ _mycroft_core_directory }}
User={{ mycroft_user }}
Group={{ mycroft_user }}
ExecStart={{ _mycroft_core_directory }}/.venv/bin/python -m mycroft.skills
StandardOutput=append:{{ _mycroft_logs_directory }}/skills.log
StandardError=append:{{ _mycroft_logs_directory }}/skills.log
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s KILL $MAINPID

[Install]
WantedBy=multi-user.target
