[Unit]
Documentation=https://mycroft-ai.gitbook.io/docs/mycroft-technologies/mycroft-core/enclosure
Description=Mycroft AI Voice Assistant - Enclosure service
After=mycroft-autoupdate.service
Requires=mycroft-bus.service

[Service]
WorkingDirectory={{ _mycroft_core_directory }}
User={{ mycroft_user }}
Group={{ mycroft_user }}
ExecStart={{ _mycroft_core_directory }}/.venv/bin/python -m mycroft.client.enclosure
StandardOutput=append:{{ _mycroft_logs_directory }}/enclosure.log
StandardError=append:{{ _mycroft_logs_directory }}/enclosure.log
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s KILL $MAINPID

[Install]
WantedBy=multi-user.target
