#jinja2: lstrip_blocks: True
{
  "confirm_listening": {{ mycroft_confirm_listening | lower }},
  "listener": {
    "recording_timeout_with_silence": {{ mycroft_recording_timeout_with_silence }}
  },
  "enclosure": {
    "platform": "{{ mycroft_enclosure_name }}"
  },
  "websocket": {
    "host": "{{ mycroft_bus_bind_address }}",
    "ssl": {{ mycroft_bus_ssl | lower }}
  },
  "ipc_path": "{{ _mycroft_ipc }}",
  "log_level": "{{ mycroft_log_level }}",
  "skills": {
    "update_interval": {{ mycroft_skills_update_interval }}
  }{% if mycroft_install_mimic | bool %},
  "tts": {
    "mimic": {
      "path": "{{ _mycroft_core_directory }}/mimic/bin/mimic"
    }
  }{% endif %}{% if mycroft_log_level == "DEBUG" %},
  "debug": true
  {% else %},
  "debug": false
  {% endif %}{% if mycroft_vlc_backend | bool %},
  "audio": {
    "backends": {
      "vlc": {
        "type": "vlc",
        "active": true,
        "duck": true
      }
    },
    "default-backend": "vlc"
  }{% endif %}
}
