# WARNING: This file may be replaced in future, do not customize.
# set path so it includes Mycroft utilities
if [ -d "{{ _mycroft_core_directory }}/bin" ] ; then
    PATH="$PATH:{{ _mycroft_core_directory }}/bin"
fi
